body{
  width: 100%;
  height: 100vh;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-image: url(images/jungle.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Montserrat", sans-serif;
}
.mobile-box{
  max-width: 400px;
  height: 100vh;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
}
.mobile-background{
  position: absolute;
  width: 100%;
  height: 100%;
  /* background: linear-gradient(#e66465, #9198e5);  */
  background: linear-gradient(0.45turn, #ffffff, #3f3f3f, transparent);
  opacity: .5;
  z-index: 5;
}
.mobile-content{
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 10;
}
.mobile-content .logo{
  margin: 16px;
}
.welcome{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.welcome .logo{
  width: 60%;
}
.welcome .mine-logo{
  width: 90%;
}
.start-btn{
  padding: 12px 22px;
  width: 80%;
  font-size: 22px;
  background-color: #ED7F2D;
  color: white;
  font-weight: 700;
  border: none;
  border-radius: 12px;
  position: absolute;
  bottom: 75px;
  letter-spacing: 2px;
}
.mobile-content h2{
  font-size: 28px;
  text-align: center;
  /* color: #ED7F2D; */
  color: white;
  padding: 0 8px;
  text-shadow: 
                -1px -1px 0 #000,  
                 1px -1px 0 #000,
                -1px  1px 0 #000,
                 1px  1px 0 #000;
}
.mobile-content .answers{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5%;
  width: 100%;
  margin-top: 100px;
}
.answer{
  padding: 0 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 40%;
  height: 100px;
  margin-top: 5%;
  background-color: white;
  font-size: 18px;
  font-weight: 700;
  /* border: 1px solid #000; */
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
  border-radius: 12px;
}

.answer.correct {
  background-color: green;
  color: white;
}

.answer.incorrect {
  background-color: red;
  color: white;
}
.score{
  position: absolute;
  right: 20px;
  top: 40px;
  /* color: #ED7F2D;  */
  color: white;
  letter-spacing: 2px;
  font-size: 22px;
  font-weight: 800;
}